.container {
  background-color: lightcyan;
  font-family: 'Verdana'
}

.card-header {
  background-color: darkblue;
  color: white
}

.card-body {
  background-color: teal;
  color: white
}

.card-footer {
  background-color: turquoise;
  color: white
}
.btn {
  background-color: purple;
  color: white;
}
